{% extends 'base.html' %}

{% block title %}Education{% endblock %}

{% block content %}

<h1 class="text-center mb-5">
    My <span class="text-info">Education</span>
</h1>

<div class="row g-4">

    <div class="col-md-4">
        <div class="card shadow h-100">
            <div class="card-body">
                <h5 class="card-title">
                    CSMSS Chh. Shahu College of Engineering
                </h5>

                <p>Bachelor of AI and Data Science</p>

                <span>2025 - 2028</span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow h-100">
            <div class="card-body">
                <h5 class="card-title">
                    Institute Of Engineering and Technology Kannad
                </h5>

                <p>Computer Science</p>

                <p>Marks - 84.84%</p>

                <span>2022 - 2025</span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow h-100">
            <div class="card-body">
                <h5 class="card-title">
                    Jijamata High School Pimparkheda
                </h5>

                <p>10th</p>

                <p>Marks - 86.20%</p>

                <span>2021 - 2022</span>
            </div>
        </div>
    </div>

</div>

{% endblock %}